@import "compass/reset";
@import "compass";

$titleHeight: 40px;
$sideBarWidth: 170px;
$menuHeight: 2.75em;
$contentWidth: 800px;

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.grid {
  width: 100%;
  height: 100%;
}

.row, .col {
  // allows for (left=0,right=0) or (top=0,bottom=0) to stretch available space
  position: absolute;
}

.row {
  left: 0;
  right: 0;
}

.header.row {
  height: $titleHeight;
}

.content.row {
  top: $titleHeight;
  width: $contentWidth;
  bottom: 0;
  margin: auto;
}

.col {
  top: 0;
  bottom: 0;
}

.left.col {
  width: $sideBarWidth;
}

.right.col {
  left: $sideBarWidth;
  right: 0;
  @include box-shadow(#777 4px 0px 6px 2px);
}

.sidebar {
  width: $sideBarWidth;
  background: #aaa;
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: solid #777 1px;
  @include box-shadow(#666 3px 0px 6px 2px);
}

nav {
  height: $titleHeight;
  background: #217492;
  @include box-shadow(#333 0px 4px 8px 0px);
}

h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 24pt;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.menu {
}

.menu > li > a {
  @include background-image(linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219)));
  border-bottom: 1px solid #333;
  width: 100%;
  display: block;
  height: $menuHeight;
  line-height: $menuHeight;
  text-decoration: none;
  text-indent: $menuHeight / 6;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: #fff;
}

.menu ul li a {
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: $menuHeight;
  line-height: $menuHeight;
  text-indent: $menuHeight / 4;
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 0.923em;
  font-weight: 400;
  color: #888;
}

.menu ul li:last-child a {
  border-bottom: 1px solid #33373d;
}

.menu > li > a:hover,
.menu > li > a.active {
  @include background-image(linear-gradient(top, rgb(38, 235, 78), rgb(80, 189, 117)));
  @include single-box-shadow(#333 0px 1px 0px 0px inset);
}

.menu > li > ul > li > a:hover,
.menu > li > ul > li > a.active {
  background: #efefef;
}
