@import "compass/reset";
@import "compass";

$titleHeight: 50px;

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 175px;
  background: #aaa;
  height: 100%;
  border-left: solid #777 1px;
  float: left;
  @include box-shadow(#555 2px 0px 6px 1px);
}

.content {
  background: blue;
  width: 600px;
  height: 100%;
  margin: auto;
  background: #eeeeee;
  @include box-shadow(#777 4px 0px 6px 2px);
}

nav {
  height: $titleHeight;
  width: 100%;
  background: #ccc;
  position: absolute;
  top: 0px;
  @include box-shadow(#333 0px 4px 8px 0px);
}

h1 {
  width: 1024px;
  margin: auto;
  font-family: sans-serif;
  font-size: 24pt;
  color: #fff;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

#titlebar {
  margin: auto;
}

.menu {
  width: auto;
  height: auto;
  @include box-shadow(rgba(0,0,0,0.75) 0px 1px 3px 0px);
}

$menuHeight: 2.75em;

.menu > li > a {
  @include background-image(linear-gradient(top, rgb(255, 175, 49), rgb(231, 141, 30)));
  border-bottom: 1px solid #333;
  width: 100%;
  display: block;
  height: $menuHeight;
  line-height: $menuHeight;
  text-decoration: none;
  text-indent: $menuHeight / 6;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  font-weight: 600;
  color: #fff;
}

.menu ul li a {
  background: #fff;
  border-bottom: 1px solid #eee;
  width: 100%;
  height: $menuHeight;
  line-height: $menuHeight;
  text-indent: $menuHeight / 4;
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 0.923em;
  font-weight: 400;
  color: #888;
}

.menu ul li:last-child a {
  border-bottom: 1px solid #33373d;
}

.menu > li > a:hover,
.menu > li > a.active {
  background-color: #35afe3;
  border-bottom: 1px solid #103c56;
  @include background-image(linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219)));
  @include single-box-shadow(#333 0px 1px 0px 0px inset);
}
.menu > li > a.active {
  border-bottom: 1px solid #1a638f;
}